// Variables Fonts

$primaryFont: "NDOT";
$primaryFontSrc: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf');

$secondaryFont: "OCR";
$secondaryFontSrc: url('../fonts/Montagu_Slab/MontaguSlab-VariableFont_opsz,wght.ttf');

// Variables layout header 

$headerPadding: 10vh;

// Variables couleurs cadre

$colorBorder: rgb(194, 188, 188)